* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.indexBanner {
  margin-top: 0;
  width: 100%;
  height: 350vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)),
    url("photos/Rhona.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-bar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.nav-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 50px;
  position: relative;
}

.nav-bar ul li a {
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
}

.nav-bar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-bar ul li:hover::after {
  width: 100%;
}

.imRona {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 30%;
  color: whitesmoke;
}

.imRona h1 {
  font-size: 70px;
  margin-top: 40px;
}

.imRona h2 {
  margin-top: 20px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: whitesmoke;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.2s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: 2px solid #009688;
}

/* ABOUT CSS*/
.aboutBanner {
  width: 100%;
  height: 100vh;
}

.workExperience {
  width: 100%;
  height: 100vh;
}

.description-experience {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 30px;
  color: whitesmoke;
}

.description-experience h2 {
  text-align: center;
}

.description-experience1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  height: 100vh;
  width: 100%;
  color: whitesmoke;
  flex-direction: column;
}

.description-experience1 p {
  color: whitesmoke;
  text-align: justify;
  font-size: 1.75rem;
  padding: 0 20%;
}
.WorkingExperience {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
}

.working {
  width: 25vw;
  height: 40vh;
  margin-top: 0;
  left: 0;
  padding: 0;
}

.experience {
  margin-top: 10px;
  color: whitesmoke;
  font-size: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  position: relative;
}
.designation {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.4 opacity */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.education-container {
  display: flex;
  height: 100vh;
  gap: 10px;
}

.tertiarySchool {
  width: 50%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.STI {
  width: 100%;
  border-radius: 10px;
}

.education {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 10%;
  font-size: 1.75rem;
  color: whitesmoke;
  padding: 5%;
}

.description-educ {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
}

.Awards {
  background-color: darkslategray;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cv {
  color: whitesmoke;
  font-size: larger;
}

.project-container {
  display: flex;
  height: 100vh;
}

.project-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 10px;
}

.project-image {
  width: 90%;
  height: auto;
}

.project-description-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 10%;
  font-size: 1rem;
  color: whitesmoke;
  padding: 5%;
  font-size: xx-large;
  font-weight: bolder;
}

.project-description-container p {
  font-size: 1.25rem;
}

.mobile-nav-bar {
  display: none;
}

.icon-link {
  width: 100px;
  height: 100px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: whitesmoke;
  flex-direction: column;
  gap: 10%;
}
